extends layout
block style
  link(rel="stylesheet", href="/stylesheets/users.css")
  link(rel="stylesheet", href="/stylesheets/admin.css")
block content
  .container-fulid
    .row
      .col-md-12.col-sm-12#main-nav
        nav.navbar.navbar-inverse.navbar-embossed(role="navigation")
          .col-md-11.col-sm-10
            .collapse.navbar-collapse
              ul.nav.navbar-nav.navbar-left
                li
                  a.navbar-brand {{user}}
                //- li.dropdown
                //-   a.noselect.dropdown-toggle(data-toggle="dropdown") 消息
                //-     b.caret
                //-   span.dropdown-arrow
                //-   ul.dropdown-menu
                //-     li
                //-       a 活动提醒
                //-     li
                //-       a 发消息
                li.dropdown
                  a.noselect.dropdown-toggle(data-toggle="dropdown") 面板
                    b.caret
                  span.dropdown-arrow
                  ul.dropdown-menu
                    li
                      a(@click="show_panels(0)") 活动面板
                    li
                      a(@click="show_panels(1)") 用户面板
                    li
                      a(@click="show_panels(2)") 日志面板
          .col-md-1.col-sm-2
            a.btn.btn-block.btn-sm.btn-danger(style="margin-top:10%;width:60%" href="/admin/signout")
              span.fui-power(style="font-size:1.3em")
    .row#tpl-panel(v-show="tpls_shows") 
      .col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1
        .row#main-body
          table.table.table-striped
            thead
              tr
                th.cen 活动名
                th.cen 描述
                th.cen 报名人数
                th.cen 操作
                th.cen
                  span.fui-plus(@click="show_panels(3)")
            tbody
              tr(v-for="tpl in tpls")
                th.left {{tpl.name}}
                th.left {{tpl.des}}
                th.cen {{tpl.count}}
                th.cen#exspan
                  span.fui-new(@click="update_tpl(tpl.name)")
                  span.fui-trash(@click="dele_tpl(tpl.name)")
                  span.fui-document(@click="show_curtpl_info(tpl.name)")
                th
    .row#tpl-panel(v-show="curtpl_info_shows") 
      .col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1
        .row#main-body
          table.table.table-striped
            thead
              tr
                th.cen 用户名
                th.cen 时间
                th.cen(v-for="item in cur_tpl.inputs") {{item.label}}
            tbody
              tr(v-for="data in cur_tpl.datas")
                th.left {{data.user}}
                th.cen {{data.date}}
                template(v-for="item in cur_tpl.inputs")
                  th.cen(v-if="item.type == 'checkbox'")
                    span(v-for="opt in item.opts" style="margin-right:1%;")
                      span {{opt.des}}:
                      span.fui-check(v-if="data.input_data[item.name].opts[opt.name]")
                      span.fui-cross(v-else)
                  th.left(v-if="item.type == 'text'") {{data.input_data[item.name]}}
                  th.cen(v-if="item.type == 'radio'") {{data.input_data[item.name]}}
                  th.cen(v-if="item.type == 'switch'") 
                    span.fui-check(v-if="data.input_data[item.name]")
                    span.fui-cross(v-else)
                th
    .row#user-panel(v-show="users_shows")
      .col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1
        .row#main-body
          table.table.table-striped
            thead
              tr
                th.cen 用户
                th.cen 密码
                th.cen 操作
                th.cen
                  span.fui-plus(@click="show_panels(4)")
            tbody
              tr(v-for="user in users")
                th.left {{user.username}}
                th.cen {{user.password}}
                //- th.left {{user.des}}
                th.cen#exspan
                  span.fui-trash(@click="dele_user(user.username)")
                th
    .row#logs-panel(v-show="logs_shows") 
      .col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1
        .row#main-body
          table.table.table-striped
            thead
              tr
                th.cen 时间
                th.cen 操作描述
                th.cen 操作用户
                th.cen 删除
            tbody
              tr(v-for="log in logs")
                th.cen {{log.date}}
                th.left {{log.des}}
                th.cen {{log.user}}
                th.cen 
                  span.fui-trash(@click="dele_log(log.name)")
    .row(v-show="addtpl_shows")
      .col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1.form-horizontal#addtpl-panel.login-form
        .col-md-8.col-md-offset-2.col-sm-8.col-sm-offset-2
          label.col-md-2.col-sm-4.control-label 活动名
          .col-md-8.col-sm-8.form-group
            input.login-field.form-control(type="text" placeholder="请输入活动名"  v-model="tpl.name")
        .col-md-8.col-md-offset-2.col-sm-8.col-sm-offset-2
          label.col-md-2.col-sm-4.control-label 活动描述
          .col-md-8.col-sm-8.form-group
            input.login-field.form-control(type="text" placeholder="请输入活动描述" v-model="tpl.des")
        .col-md-8.col-md-offset-2.col-sm-8.col-sm-offset-2#add-inputs
          .col-md-3.col-sm-3
            span 输入框
            span.fui-plus(@click="add_input('text')")
          .col-md-3.col-sm-3
            span 单选框
            span.fui-plus(@click="add_input('radio')")
          .col-md-3.col-sm-3
            span 多选框
            span.fui-plus(@click="add_input('checkbox')")
          .col-md-3.col-sm-3
            span 选择框
            span.fui-plus(@click="add_input('switch')")
        .col-md-8.col-md-offset-2.col-sm-8.col-sm-offset-2
          .row(v-for="input in inputs")
            //- 输入框
            template(v-if="input.type == 'text'")
              .col-md-1.col-sm-1
                span.fui-cross(style="line-height: 3;" @click="dele_input(input.name)")
              .col-md-4.col-sm-4
                .form-group
                  input.login-field.form-control(type="text" placeholder="请输入标签" v-model="input.label")
              .col-md-1.col-sm-1.cen(style="line-height: 40px;font-size: 2em;") :
              .col-md-6.col-sm-6
                .form-group
                  input.login-field.form-control(type="text" placeholder="请输入内容描述" v-model="input.des")
            //- 单选框或多选框
            template(v-if="input.type == 'radio' || input.type == 'checkbox'")
              .col-md-1.col-sm-1
                span.fui-cross(style="line-height: 3;" @click="dele_input(input.name)")
              .col-md-4.col-sm-4
                .form-group
                  input.login-field.form-control(type="text" placeholder="请输入标签"  v-model="input.label")
              .col-md-1.col-sm-1.cen(style="line-height: 40px;font-size: 2em;") :
              .col-md-6.col-sm-6.radio-field
                .form-group
                  input.login-field.form-control(v-for="opt in input.opts" type="text" placeholder="请输入选项描述"  v-model="opt.des")
                  .cen
                    span.fui-plus(@click="add_opt(input.name)")
            //- 选择框
            template(v-if="input.type == 'switch'")
              .col-md-1.col-sm-1
                span.fui-cross(style="line-height: 3;" @click="dele_input(input.name)")
              .col-md-6.col-md-offset-2.col-sm-6.col-sm-offset-2
                .form-group
                  input.login-field.form-control(type="text" placeholder="请输入内容描述"  v-model="input.label")
        .col-md-8.col-md-offset-2.col-sm-8.col-sm-offset-2
          .col-md-6.col-md-offset-3.col-sm-6.col-sm-offset-3
            .btn.btn-primary.btn-large.btn-block(@click='add_tpl') 提交
        .row
          span.cen.remsg.col-md-4.col-md-offset-4.col-sm-4.col-sm-offset-4 {{remsg}}
    .row(v-show="adduser_shows")
      .col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1.form-horizontal#addtpl-panel.login-form
        .col-md-8.col-md-offset-2.col-sm-8.col-sm-offset-2
          label.col-md-2.col-sm-2.control-label 用户名
          .col-md-8.col-sm-8.form-group
            input.login-field.form-control(type="text" placeholder="请输入用户名"  v-model="new_user.username")
        .col-md-8.col-md-offset-2.col-sm-8.col-sm-offset-2
          label.col-md-2.col-sm-2.control-label 密码
          .col-md-8.col-sm-8.form-group
            input.login-field.form-control(type="password" placeholder="请输入密码" v-model="new_user.password")
        .col-md-8.col-md-offset-2.col-sm-8.col-sm-offset-2
          .col-md-6.col-md-offset-3.col-sm-6.col-sm-offset-3
            .btn.btn-primary.btn-large.btn-block(@click='add_user') 提交




block javascripts
  script(src='/javascripts/admin.js')
