doctype html
html
  head
    title= title
    link(rel="stylesheet", href="/bootstrap-3.3.7-dist/css/bootstrap.min.css")

    link(rel="stylesheet", href="/flat-dist/css/flat-ui.min.css")
    
    link(rel='stylesheet', href='/stylesheets/style.css')
    block style
  body
    block content
    script(src='/flat-dist/js/vendor/jquery.min.js')
    script(src='/flat-dist/js/flat-ui.min.js')
    script(src='/javascripts/vue.js')
    block javascripts
