extends layout

block style
  link(rel='stylesheet' href='/stylesheets/signup.css')
block content
  #top
  .container-fluid#main
    .row
      form.col-md-6.col-md-offset-3.login-form(action="/signup" method="POST")
        .col-md-8.col-md-offset-2.form-group
          input.login-field.form-control#login_name(type="text" placeholder="请输入用户名" name="username" value="#{username}" v-model="username")
          label.login-field-icon.fui-user(for="login_name")
        .col-md-8.col-md-offset-2.form-group
          input.login-field.form-control#login-psd(type="password" placeholder="请输入密码" name="password" v-model="password")
          label.login-field-icon.fui-lock(for="login-psd")
        .col-md-8.col-md-offset-2.form-group
          input.login-field.form-control#login-repsd(type="password" placeholder="请重新输入密码" v-model="repassword")
          label.login-field-icon.fui-lock(for="login-repsd" v-if="!showicon")
          label.login-field-icon.fui-check(for="login-repsd" v-if="showicon&&matchit")
          label.login-field-icon.fui-cross(for="login-repsd" v-if="showicon&&!matchit")
        .col-md-6.col-md-offset-3
          .noselect.btn.btn-primary.btn-large.btn-block(v-if="(!matchit)||(!username.length)") 注册
          input.btn.btn-primary.btn-large.btn-block(v-else type="submit" value="注册")
        .row
          span.cen.remsg.col-md-4.col-md-offset-4 #{remsg}
  #bot
block javascripts
  script(src="/javascripts/signup.js")
