extends layout

block style
  link(rel='stylesheet' href='/stylesheets/signin.css')

block content
  #top
  .container-fluid#main
    .row
      form.col-md-6.col-md-offset-3.col-sm-6.col-sm-offset-3.login-form(action="/signin" method="POST")
        .col-md-8.col-md-offset-2.col-sm-8.col-sm-offset-2.form-group
          input.login-field.form-control#login_name(type="text" placeholder="请输入用户名" name="username" value="#{username}")
          label.login-field-icon.fui-user(for="login_name")
        .col-md-8.col-md-offset-2.col-sm-8.col-sm-offset-2.form-group
          input.login-field.form-control#login-psd(type="password" placeholder="请输入密码" name="password")
          label.login-field-icon.fui-lock(for="login-psd")
        .col-md-6.col-md-offset-3.col-sm-6.col-sm-offset-3
          input.btn.btn-primary.btn-large.btn-block(type="submit" value="登录")
          a.btn.btn-primary.btn-large.btn-block(href="/signup") 注册
        .row
          span.cen.remsg.col-md-4.col-md-offset-4.col-sm-4.col-sm-offset-4 #{remsg}
  #bot
