extends layout
block style
  link(rel="stylesheet", href="/stylesheets/users.css")
block content
  .container-fulid
    .row
      .col-md-12.col-sm-12#main-nav
        nav.navbar.navbar-inverse.navbar-embossed(role="navigation")
          .col-md-11.col-sm-10
            .collapse.navbar-collapse
              ul.nav.navbar-nav.navbar-left
                li
                  a.navbar-brand(href="#") {{user}}
                //- li.dropdown
                //-   a.noselect.dropdown-toggle(data-toggle="dropdown") 消息
                //-     b.caret
                //-   span.dropdown-arrow
                //-   ul.dropdown-menu
                //-     li
                //-       a(href="#") 站内消息
                //-     li
                //-       a(href="#") 活动提醒
                //-     li
                //-       a(href="#") 发消息
                li.dropdown
                  a.noselect.dropdown-toggle(data-toggle="dropdown") 面板
                    b.caret
                  span.dropdown-arrow
                  ul.dropdown-menu
                    li
                      a(href="#" @click="show_panels(0)") 活动
                    li
                      a(href="#" @click="show_panels(1)") 历史
          .col-md-1.col-sm-2
            a.btn.btn-block.btn-sm.btn-danger(style="margin-top:10%;width:60%" href="/users/signout")
              span.fui-power(style="font-size:1.4em")
    .row#tpl-panel(v-show="tpl_panels_shows") 
      //- 活动面板
      .col-md-8.col-md-offset-2.col-sm-8.col-sm-offset-2
        .row#main-body
          table.table.table-striped
            thead
              tr
                th.cen 活动名
                th.cen 描述
                th.cen 报名人数
                th.cen 详情
            tbody
              tr(v-for="tpl in tpls")
                th.left {{tpl.name}}
                th.left {{tpl.des}}
                th.cen {{tpl.count}}
                th.cen 
                  span.fui-document(@click="get_tpl(tpl.name)")
    .row#his-panel(v-show="his_panel_shows")
      .col-md-8.col-md-offset-2.col-sm-8.col-sm-offset-2
        .row#main-body
          table.table.table-striped
            thead
              tr
                th.cen 报名时间
                th.cen 活动名
                th.cen 描述
                th
            tbody
              tr(v-for="item in his")
                th.cen {{item.date}}
                th.cen {{item.name}}
                th.cen {{item.des}}
                th.cen
                  span.fui-document(@click="get_his_info(item.name)")
    .row#tpl-info(v-show="tpl_info_shows")
      .col-md-8.col-md-offset-2.col-sm-8.col-sm-offset-2.login-form.form-horizontal
        .row#main-tpl
          h3.cen {{cur_tpl.name}}
          p.cen {{cur_tpl.des}}
        .row(v-for="input in cur_tpl.inputs")
          template(v-if="input.type == 'text'")
            .col-md-8.col-md-offset-2.col-sm-8.col-sm-offset-2
              label.col-md-4.col-sm-4.control-label(for="{{input.name}}") {{input.label}}
              .col-md-8.col-sm-8.form-group
                input.login-field.form-control(type="text" placeholder="{{input.des}}"  v-model="datas.input_data[input.name]" id="{{input.name}}")
          template(v-if="input.type == 'checkbox'")
            .col-md-8.col-md-offset-2.col-sm-8.col-sm-offset-2
                label.col-md-4.col-sm-4.control-label {{input.label}}
                .col-md-8.col-sm-8
                  label.checkbox(v-for="opt in input.opts" for="{{opt.name}}")
                    input(type="checkbox" value="" id="{{opt.name}}" data-toggle="checkbox" class="custom-checkbox" v-model="datas.input_data[input.name].opts[opt.name]")
                    span.icons
                      span.icon-unchecked
                      span.icon-checked
                    {{opt.des}}
          template(v-if="input.type == 'radio'")
            .col-md-8.col-md-offset-2.col-sm-8.col-sm-offset-2
                label.col-md-4.col-sm-4.control-label {{input.label}}
                .col-md-8.col-sm-8
                  label.radio(v-for="opt in input.opts" )
                    input(type="radio" id="{{opt.name}}" name="{{opt.name}}" data-toggle="radio" class="custom-radio" v-model="datas.input_data[input.name]" value="{{opt.des}}" checked="{{opt.check}}")
                    span.icons
                      span.icon-unchecked
                      span.icon-checked
                    {{opt.des}}
          template(v-if="input.type == 'switch'")
            .col-md-8.col-md-offset-2.col-sm-8.col-sm-offset-2
                label.col-md-4.col-sm-4.control-label {{input.label}}                
                .col-md-8.col-sm-8
                  label.checkbox(style="margin:2%" for="{{input.name}}")
                    input(type="checkbox" value="" id="{{input.name}}" data-toggle="checkbox" class="custom-checkbox" v-model="datas.input_data[input.name]")
                    span.icons
                      span.icon-unchecked
                      span.icon-checked  
                    {{input.label}}  
        .row
          .col-md-4.col-md-offset-4.col-sm-4.col-sm-offset-4
            .btn.btn-primary.btn-large.btn-block(@click='submit_info') 提交              
    .row#his-info(v-show="his_info_shows")
      .col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1
        .row#main-body
          table.table.table-striped
            thead
              tr
                th.cen 选项描述
                th.cen 填入信息
            tbody
              template(v-for="item in cur_tpl.inputs")
                tr
                  th
                    .cen {{item.label}}
                  th
                    .cen(v-if="item.type == 'checkbox'")
                      span(v-for="opt in item.opts" style="margin-right:1%;")
                        span {{opt.des}}:
                        span.fui-check(v-if="cur_his_item.input_data[item.name].opts[opt.name]")
                        span.fui-cross(v-else)
                    .cen(v-if="item.type == 'text'") {{cur_his_item.input_data[item.name]}}
                    .cen(v-if="item.type == 'radio'") {{cur_his_item.input_data[item.name]}}
                    .cen(v-if="item.type == 'switch'") 
                      span.fui-check(v-if="cur_his_item.input_data[item.name]")
                      span.fui-cross(v-else)
    
block javascripts
  script(src='/javascripts/users.js')
