#add-inputs span {
    font-weight: bold;
    padding: 2px;
}

body {
    background: #E74C3C;
}

#add-inputs > .col-md-3 {
    margin-bottom: 10px;
}

.radio-field input {
    margin-bottom: 3%;
}

#exspan span {
    margin: 0 4px 0 4px;
}

.navbar-inverse {
    background-color: #d24232;
}

.navbar-inverse .navbar-nav>li>a:hover,
.navbar-inverse .navbar-nav>li>a:focus {
    color: #F1C40F;
    background-color: transparent;
}

.navbar-inverse .navbar-nav>.open>.dropdown-menu {
    padding: 3px 4px;
    background-color: #d24232;
}

.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:hover,
.navbar-inverse .navbar-nav>.open>a:focus {
    color: #fff;
    background-color: #F1C40F;
    border-left-color: transparent;
}

.navbar-inverse .navbar-nav>.open>.dropdown-menu>li>a:hover,
.navbar-inverse .navbar-nav>.open>.dropdown-menu>li>a:focus {
    color: #fff;
    background-color: #F1C40F;
}

.navbar-inverse .navbar-nav>.dropdown>a:hover .caret,
.navbar-inverse .navbar-nav>.dropdown>a:focus .caret {
    border-top-color: #F1C40F;
    border-bottom-color: #F1C40F;
}
.navbar-inverse .navbar-nav>.dropdown>a .caret {
    border-top-color: #e74c3c;
    border-bottom-color: #e74c3c;
}
.navbar-inverse .navbar-nav>.open>.dropdown-menu>.divider {
    height: 2px;
    margin-right: -4px;
    margin-left: -4px;
    background-color: #F1C40F;
}
