#main{
    top: 20%;
    /*height: 50%;*/
    width: 100%;
    position: absolute;
    z-index: 2;
}
#top{
    height: 30%;
    width: 100%;
    position: absolute;
    background: #2ECC71;
    z-index: 1;
}
.row label{
  padding-right: 3%;
}
#bot{
    height: 70%;
    width: 100%;
    top: 30%;
    background: #1ABC9C;
    z-index: 1;
    position: absolute;
}