#main-nav > nav{
  border-radius: 0px 0px 6px 6px;
  cursor:pointer;
}
body{
  background: #2C3E50;
}
#main-body{
  border-radius: 10px;
  background: #fff;
}
#main-body>table{
  /*background: #fff;*/
}
.checkbox,.radio{
  display: inline-block;
  margin: 2%;
}
.control-label{
  font-weight: 700;
}
.checkbox input[type=checkbox].custom-checkbox:indeterminate+.icons:before, .radio input[type=checkbox].custom-checkbox:indeterminate+.icons:before, .checkbox input[type=radio].custom-radio:indeterminate+.icons:before, .radio input[type=radio].custom-radio:indeterminate+.icons:before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 20px;
    font-size: 22px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    content: "";
}